* {
    margin: 0px;
    padding: 0px;
}

/* Header */
.navbar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navList {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    gap: 35px;
}

.navList span {
    cursor: pointer;
}

.navButton {
    width: 155px;
    height: 42px;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.navButton:hover {
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.section1 {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}

.textContent1 {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 405px;
    text-align: center;
}

.textContent1 h1 {
    font-size: 54px;
    font-weight: 400;
    padding: 10px;
}

.textContent1 span {
    font-size: 14px;
    font-weight: 400;
}

.param1 {
    padding: 25px;
    padding-left: 1200px;
}

/* Main */

/* Section 2 */
.section2 {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}

.textContent2 {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.textContent2 h1 {
    font-size: 40px;
    font-weight: 400;
}

.textContent2 span {
    font-size: 20px;
    font-weight: 200;
}

.card {
    height: 600px;
    width: 578px;
    border: none;
    color: whitesmoke;
    padding: 10px;
}

.card span {
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.card button {
    width: 143px;
    height: 42px;
    border: none;
    border-radius: 14px;
    color: black;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.textcard {
    padding-top: 460px;
}

.card1 {
    background-image: url(./assets/appleget.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card2 {
    background-image: url(./assets/vertigo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card3 {
    background-image: url(./assets/three.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card4 {
    background-image: url(./assets/ohu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Section 3 */

.section3 {
    background-image: url(./assets/Futziyama.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.section3 span {
    color: #C0C0C0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.textContent3 {
    padding-top: 280px;
    padding-left: 1080px;
}

.param2 {
    padding-top: 200px;
    padding-left: 100px;
}

/* Section 4 */
.section4 {
    height: 540px;
    display: flex;
}

.aside1 {
    background-color: black;
    color: #C0C0C0;
    height: 540px;
    width: 800px;
}

.aside1 span {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.aside1 h1 {
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.aside1 button {
    width: 152px;
    height: 42px;
    border: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
}

.aside2 {
    background-image: url(./assets/photoshop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 540px;
    width: 800px;
}

.textContext4 {
    padding-left: 90px;
    padding-top: 160px;
}

.param3 {
    padding-top: 500px;
    padding-left: 400px;
}

/* Section 5*/
.section5 {
    background-image: url(./assets/listya.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.section5 span {
    color: #C0C0C0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.textContent5 {
    padding-top: 280px;
    padding-left: 1080px;
}

.param4 {
    padding-top: 200px;
    padding-left: 100px;
}

/* Section 6 */
.section6 {
    height: 500px;
    background-color: black;
}

.textContent6 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding-top: 80px;
}

.textContent6 span {
    color: #C0C0C0;
    font-size: 24px;
}

.textContent6 h1 {
    color: whitesmoke;
    font-size: 48px;
    padding: 20px;
}

.logoPastClients {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.logoPastClients img {
    height: 70px;
    width: 150px;
}

/* Section 7 */
.section7 {
    background-image: url(./assets/everest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.section7 span {
    color: #C0C0C0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.textContent7 {
    padding-top: 270px;
    padding-left: 1100px;
}

.param4 {
    padding-top: 200px;
    padding-left: 100px;
}

/* Section 8 */
.section8 {
    background-color: black;
    height: 414px;
}

.textContent8 span {
    color: #C0C0C0;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    padding: 30px;
}

.textContent8 h1 {
    color: whitesmoke;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.textContent8 {
    text-align: center;
    padding-top: 120px;
}

.textContent8 button {
    width: 154px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: none;
    border-radius: 14px;
    margin-left: 680px;
    font-size: 16px;
    margin-top: 25px;
}

/* Footer */
.footer {
    background-color: black;
    height: 652px;
    border-top: 1px solid white;
}

.aside3 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.aside4 {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 70px;
}

.al {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.la {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.asides {
    display: flex;
    gap: 350px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.solid {
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    display: flex;
    gap: 600px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: whitesmoke;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.li h1 {
    font-size: 18px;
    font-weight: 100;
}

.li span {
    font-size: 13px;
}

.il {
    width: 458px;
    height: 52px;
    border: none;
    border-radius: 12px;
    background-color: whitesmoke;
}

.il button {
    width: 63px;
    height: 30px;
    border: none;
    border-radius: 11px;
    background-color: black;
    margin-left: 380px;
    margin-top: 12px;
}

.foots {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
}

.logos {
    display: flex;
    gap: 20px;
}